<?xml version="1.0"?>
<config>
    <modules>
        <Ambassador_Event>
            <version>1.1.1</version>
        </Ambassador_Event>
    </modules>
    <frontend>
        <routers>
            <getambassador>
                <use>standard</use>
                <args>
                    <module>Ambassador_Event</module>
                    <frontName>getambassador</frontName>
                </args>
            </getambassador>
        </routers>
        <default>
            <router>getambassador</router>
        </default>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <Ambassador_Event_Model_Observer>
                        <type>singleton</type>
                        <class>Ambassador_Event_Model_Observer</class>
                        <method>addInitialCodeSnippet</method>
                    </Ambassador_Event_Model_Observer>
                </observers>
            </checkout_onepage_controller_success_action>
            <controller_action_layout_render_before_customer_account_index>
                <observers>
                    <Ambassador_Event_Model_Observer>
                        <type>singleton</type>
                        <class>Ambassador_Event_Model_Observer</class>
                        <method>sso</method>
                    </Ambassador_Event_Model_Observer>
                </observers>
            </controller_action_layout_render_before_customer_account_index>
            <controller_action_layout_render_before_customer_account_logoutSuccess>
                <observers>
                    <Ambassador_Event_Model_Observer>
                        <type>singleton</type>
                        <class>Ambassador_Event_Model_Observer</class>
                        <method>ssoLogout</method>
                    </Ambassador_Event_Model_Observer>
                </observers>
            </controller_action_layout_render_before_customer_account_logoutSuccess>
            <controller_action_layout_render_before>
                <observers>
                    <Ambassador_Event_Model_Observer>
                        <type>singleton</type>
                        <class>Ambassador_Event_Model_Observer</class>
                        <method>addLinkToPortal</method>
                    </Ambassador_Event_Model_Observer>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <Ambassador_Event_Model_Observer>
                        <type>singleton</type>
                        <class>Ambassador_Event_Model_Observer</class>
                        <method>callEventRecord</method>
                    </Ambassador_Event_Model_Observer>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </adminhtml>
    <global>
        <models>
            <ambassador_event>
                <class>Ambassador_Event_Model</class>
            </ambassador_event>
        </models>
    </global>
</config>
